#news_wrap {
  padding: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.news_item_wrap {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-indent: 20px;
}

.news_item {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 48%;
  max-height: 500px;
}

.padding_wrap {
  padding: 15px;
}

@media (max-width: 800px) {
  .news_item{
    width: 90%;
  }
}