*{
  user-select: none;
  font-size: 20px;
}

#wrapper{
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

#content_wrap{
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#content_wrap span{
  white-space: nowrap;
}

#result{
  border: 1px solid purple;
  border-radius: 4px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.item{
  display: flex;
}

@media (max-width: 800px) {
  #content_wrap{
    flex-direction: column;
    gap: 30px;
  }
}